body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}

#title_img {
    width: 100%;
    margin: 0;
    display: block;
}

.container {
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #737373;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    padding: 0%;
}

.circle {
    margin: 20% auto;
    border-radius: 50%;
    border: 1vw solid #444444;
    width: 66%;
}
